@import '~antd/dist/antd.css';


.ant-layout.layout {
  min-height: 100vh;
}

.site-layout .site-layout-content {
  background: #fff;
  min-height: 85vh;
  padding:24px;
}
.ant-layout-content.site-layout {
  padding: 0 50px;
  margin-top:64px;
}

.ant-menu-submenu.ant-menu-submenu-popup .ant-menu.ant-menu-sub.ant-menu-vertical {
  margin-top:-10px;
}

@media(max-width:768px){
  .site-layout .site-layout-content {
    padding:24px 15px;
    
  }
  .ant-layout-content.site-layout {
    padding: 0 10px;
    margin-top:50px;
  }

  .ant-layout-header .ant-menu {
    width:100px;
  }

  .ant-layout-header {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
  }
}